.myabout {
  margin-bottom: 61px;
  line-height: 1.5;
}

.myabout .title {
  font-size: 30px;
  position: absolute;
  top: 30%;
  left: 10%;
  font-weight: bold;
}

.myabout .myHeader {
  width: 60%;
  margin-top: 20px;
  margin-left: 23%;
}
